body {
  font-size: 1rem;
  height: 200vh;
}

header {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to left bottom, #41b883 0%, white 100%);
}

header img {
  display: inline-block;
}

aside {
  display: inline-block;
  margin-top: 2vh;
  margin-left: 2vw;
  width: 28vw;
  vertical-align: top;
}

main {
  display: inline-block;
  margin-top: 2vh;
  margin-left: 2vw;
  margin-right: 2vw;
  width: 64vw;
  height: 96vh;
  overflow-y: scroll;
}

pre {
  background-color: lightgrey;
  border-radius: 4px;
  padding: 4px;
  max-width: calc(100% - 8px);
  margin: 0;
  min-height: 1.1rem;
}

pre ~ pre:not(:first-child) {
  vertical-align: top;
  margin-top: 8px;
}

h2 {
  margin-bottom: 8px;
  color: black;
  padding: 4px;
  border-radius: 4px;
  background-color: #41b883;
}

h1:first-child,
h2:first-child {
  margin-top: 0;
}

p {
  margin-bottom: 0;
}

aside > ul {
  list-style-type: none;
  list-style-position: outside;
  padding: 4px;
}

aside > ul > li {
  border-radius: 4px;
}

aside > ul > li:hover {
  background-color: lightgrey;
}

aside > ul > li > a {
  padding: 4px;
  display: block;
  width: 100%;
  color: black;
  text-decoration: none;
}

aside > h3 {
  color: #41b883;
}

main > table {
  width: 100%;
  font-family: monospace;
  font-weight: 1.3rem;
}

main > table > tbody > tr {
  border-bottom: 1px solid grey;
}

main > table > thead > tr {
  color: black;
  background-color: darkgrey;
}

main > table > tbody > tr:nth-child(2n) {
  background-color: #eee;
}

main > table > tbody > tr:hover {
  background-color: #ccc;
}

main > table > thead > tr > td,
main > table > tbody > tr > td {
  padding: 4px;
}

#footer {
  height: 100vh;
}

hr {
  margin: 32px 0;
}

.vue-select {
  display: inline-block;
  margin-bottom: 8px;
}
