html {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  scroll-behavior: smooth;
}

h1 {
  font-size: 1.6rem;
}

h2 {
  font-size: 1.4rem;
}

h3 {
  font-size: 1.3rem;
}

h1,
h2,
h3 {
  font-family: 'Dosis';
}

body {
  height: 200vh;
  overflow-x: hidden;
}

header {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right top, #3ea276 0%, white 100%);
}

header > h1,
header > p {
  margin: 4px;
}

header ul {
  overflow-y: auto;
  list-style-type: square;
}

header > ul > li {
  line-height: 1.5rem;
}

header > ul > li > a {
  color: #4179b8;
}

.badges {
  max-width: 80vw;
  text-align: center;
}

aside {
  display: inline-block;
  top: 0vh;
  margin-top: 2vh;
  margin-left: 2vw;
  width: 25vw;
  vertical-align: top;
  max-height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

aside.fixed {
  position: fixed;
  margin-top: 0;
}

@media (max-width: 768px) {
  aside {
    display: none;
  }
}

aside > ul {
  list-style-type: none;
  list-style-position: outside;
  padding: 4px;
}

aside > ul > li {
  line-height: 1.5rem;
  border-radius: 4px;
}

aside > ul > li:hover {
  background-color: lightgrey;
}

aside > ul > li > a {
  padding: 4px;
  display: block;
  width: 100%;
  color: black;
  text-decoration: none;
}

main {
  display: inline-block;
  position: absolute;
  right: 0;
  margin-top: 2vh;
  margin-left: 2vw;
  margin-right: 2vw;
  width: 70vw;
  height: 96vh;
}

@media (max-width: 768px) {
  main {
    margin-right: 1vw;
    margin-left: 1vw;
    width: 98vw;
  }
}

main > table {
  display: block;
  table-layout: fixed;
  font-size: 0.9rem;
  width: 100%;
  overflow-x: scroll;
}

main > table > tbody {
  font-family: monospace;
}

main > table > tbody > tr {
  line-height: 2;
}

main > table > thead > tr {
  line-height: 2;
  color: black;
  background-color: darkgrey;
}

main > table > tbody > tr:nth-child(2n) {
  background-color: #eee;
}

main > table > tbody > tr:hover {
  background-color: #ccc;
}

main > table > thead > tr > td,
main > table > tbody > tr > td {
  border-left: black 1px solid;
  border-top: black 1px solid;
  padding: 4px;
  overflow-x: auto;
}

main > table > thead > tr > td {
  border-top: none;
}

main > table > thead > tr > td:first-child,
main > table > tbody > tr > td:first-child {
  border-left: none;
  white-space: nowrap;
}

pre {
  vertical-align: top;
  margin: 8px 0;
  border-radius: 4px;
  min-height: 1.2rem;
}

code {
  padding: 0 4px !important;
  border-radius: 4px;
  color: white;
  background-color: #3ea276;
}

pre code {
  padding: 12px 16px !important;
}

h2,
h3 {
  margin-bottom: 8px;
  padding: 4px 0;
  border-radius: 4px;
  color: #3ea276;
}

h1:first-child,
h2:first-child {
  margin-top: 0;
}

p {
  line-height: 1.2;
}

#footer {
  height: 100vh;
}

hr {
  margin: 32px 0;
}

.vue-select {
  display: inline-block;
  margin-bottom: 8px;
}

.vue-select ~ pre.result {
  margin-top: 0;
  display: inline-block;
  margin-left: 8px;
  width: calc(100% - 150px - 8px);
}

.vue-select ~ pre.result code {
  min-height: 4px;
}

.github-fork-ribbon::before {
  background-color: #3ea276;
}

#features .vue-select {
  width: 320px;
}
