name: Docs

on:
  push:
    branches: [main]

jobs:
  docs:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4.1.7

      - name: Use Node.js
        uses: actions/setup-node@v4.0.2
        with:
          node-version-file: .nvmrc

      - name: Use PNPM
        uses: pnpm/action-setup@v4.0.0
        with:
          version: 7

      - name: Setup user
        run: |
          git config --global user.email actions@users.noreply.github.com
          git config --global user.name "Action"

      - name: Build docs
        run: |
          cd docs
          pnpm install
          pnpm run docs:build
          cd .vitepress/dist
          git init
          git add -A
          git commit -m 'deploy'

      - name: Deploy docs
        uses: ad-m/github-push-action@v0.8.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: 'docs'
          force: true
          directory: './docs/.vitepress/dist'
