name: Examples

on:
  push:
    branches: [main]

jobs:
  bump:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4.1.6
        with:
          ref: main

      - name: Use Node.js
        uses: actions/setup-node@v4.0.2
        with:
          node-version-file: .nvmrc

      - name: Use PNPM
        uses: pnpm/action-setup@v4.0.0
        with:
          version: 7

      - name: Setup user
        run: |
          git config --global user.email actions@users.noreply.github.com
          git config --global user.name "Action"

      - name: Bump version
        run: |
          git init
          cd examples
          eval $(echo pnpm add vue-next-select@$(cat ../package.json | head -3 | sed 1,2d | sed 's/^.*\: "//' | sed 's/",$//'))
          git add .
          git commit -m 'chore(bot): bump vue-next-select' || exit 0
          cd ..

      - name: Push
        uses: ad-m/github-push-action@v0.8.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: 'main'
          directory: '.'
